/* Variables */
:root {
  --basic-black: 0, 0, 0;
  --basic-white: #FFF;
  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --focus-blue: #5496BD;
  --basic-grey: #333;
  --secondary-grey: #EEE;
  --form-grey: #F2F2F2;
  --form-grey-hover: #EBEBEB;
  --form-grey-border: #E5E5E5;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --focus-brown: #503E33;
  --elements: #A9A9A9;
  --copy-main: #231F20;
  --copy-focus: #BDBBBC;
}

/* Globals */
body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--form-grey);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header,
.container,
.page-footer {
  background-color: var(--basic-white);
}

/* Main navigation */
.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.navigation-list {
  list-style: none;
}

/* User navigation */
.navigation-list a {
  color: var(--basic-black);
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: var(--basic-blue);
}

.navigation-list a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Welcome */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.welcome-section {
  background-image: url("../img/welcome.svg"), url("../img/background-photo.jpg");
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  height: 509px;
  margin: 0;
  padding: 0;
}

/* Features */
.features-list,
.benefits-list {
  list-style: none;
}

.feature-item,
.feature-item-large,
.benefit-item,
.title {
  text-align: center;
}

.title h2 {
  font-size: 21px;
  line-height: 26px;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
}

.features p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
}

.feature-item-large p {
  color: var(--basic-white);
}

.feature-item-large {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 400px;
}

.feature-item-large h3 {
  padding-top: 50px;
}

.item-bottom {
  background-color: var(--secondary-grey);
}

/* Search */
.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 26px;
}

.search p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
}

.button-search-hotel {
  width: 568px;
  padding: 30px 0 30px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;
}

.button-search-hotel:hover {
  background-color: var(--hover-brown);
}

.button-search-hotel:focus {
  background-color: var(--focus-brown);
  outline: none;
}

/* Page footer */
.page-footer {
  color: var(--basic-black);
}

.contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

/* Social button */
.social-button {
  color: inherit;
  width: 46px;
  height: 48px;
  display: inline-block;
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:focus {
  background-color: var(--focus-blue);
  outline: none;
}

.social-button:focus svg {
  opacity: 0.3;
}

/*copyright */
.footer-copyright {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  outline: none;
}

.logo-htmlacademy svg {
  fill: var(--copy-main);
}

.logo-htmlacademy:hover svg {
  fill: var(--basic-blue);
}

.logo-htmlacademy:focus svg {
  fill: var(--copy-focus);
}

/* Search form */
.search-popup {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.search-form {
  width: 568px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form input[type="date"],
.search-form input[type="number"] {
  width: 308px;
  height: 38px;
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--form-grey);
  border: none;
}

.search-form input[type="number"] {
  width: 38px;
  height: 38px;
}

.search-form input:hover {
  background-color: var(--form-grey-hover);
}

.search-form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--form-grey-border);
  outline-offset: -2px;
}

.search-form input::-webkit-outer-spin-button,
.search-form input::-webkit-inner-spin-button,
.search-form input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.search-form input[type=number] {
  -moz-appearance: textfield;
}

.button-counter {
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: var(--form-grey);
  border: none;
  cursor: pointer;
}

.button-counter,
.button-calendar {
  fill: var(--elements);
  outline: none;
}

.button-counter:hover svg,
.button-calendar:hover svg {
  fill: var(--basic-black);
}

.button-counter:focus svg,
.button-calendar:focus svg {
  fill: var(--basic-blue);
}

.button-search {
  width: 458px;
  padding: 16px 0 16px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
}

.button-search:hover {
  background-color: var(--hover-blue);
}

.button-search:focus {
  background-color: var(--focus-blue);
  outline: none;
}

.button-calendar {
  width: 38px;
  height: 38px;
  background-color: var(--form-grey);
  border: none;
  cursor: pointer;
}

/* Filters */
.filtres {
  background-image: url("../img/catalog-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 217px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.button-resutls {
  width: 137px;
  padding: 6px 0 6px 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  cursor: pointer;
}

/* Results */
.results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-sort {
  font-size: 12px;
  line-height: 18px;
}

.sort-type-active a {
  color: var(--basic-blue);
}

.sort-type a {
  color: rgba(var(--basic-black), 0.3);
  border-bottom: 1px var(--basic-blue) dashed;
}

.results-show-active path {
  fill: var(--basic-blue);
}