/* Variables */
:root {
  --basic-black: #000;
  --basic-white: #FFF;
  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-grey: #333;
  --secondary-grey: #EEE;
  --form-grey: #F2F2F2;
  --form-grey-hover: #EBEBEB;
  --form-grey-border: #E5E5E5;
  --rating-grey: #666;
  --arrow-grey: #CACACA;
  --range-grey: #ABABAB;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --elements: #A9A9A9;
  --copy-main: #231F20;
  --copy-active: #BDBBBC;
  --opacity-black: rgba(0, 0, 0, 0.3);
  --opacity-white: rgba(255, 255, 255, 0.3);
  --opacity-white-footer: rgba(255, 255, 255, 0.9);
  --opacity-grey: rgba(171, 171, 171, 0.3);
  --shadow: rgba(0, 1, 1, 0.15);
  --shadow-body: rgba(0, 1, 1, 0.2);
}

/* Globals */
.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--form-grey);
  box-shadow: 0px 5px 15px var(--shadow-body);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header,
.container,
.page-footer {
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.main-header {
  display: grid;
  position: relative;
}

/* Logo */
.main-header-logo {
  order: 0;
  position: absolute;
  left: calc(50% - 69px);
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center
}

.navigation-list {
  width: 100%;
  padding: 15px 73px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap
}

.navigation-item {
  width: 228px;
}

.navigation-item:nth-child(4n+1) {
  text-align: left;
}

.navigation-item:nth-child(4n+2) {
  text-align: left;
  margin-right: 142px;
}

.navigation-item:nth-child(4n+3),
.navigation-item:nth-child(4n+4) {
  text-align: right;
}

.navigation-list a {
  color: var(--basic-black);
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: var(--basic-blue);
}

.navigation-list a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.page-active a {
  color: var(--basic-brown);
}

/* Welcome */
.welcome-section {
  background-image: url("../img/decorative-shape.svg"), url("../img/welcome.svg"), url("../img/background-photo.jpg");
  background-position: center bottom, center center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: var(--basic-blue);
  width: 100%;
  min-height: 509px;
  margin: 0;
  padding: 0;
}

/* Features */
.title {
  padding: 21px 315px 39px;
}

.title p:first-child {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 26px;
}

.feature-city {
  grid-area: city;
}

.feature-bridge {
  grid-area: bridge;
}

.feature-area {
  grid-area: area;
}

.feature-road {
  grid-area: road;
}

.feature-turists {
  grid-area: turists;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "city city city"
    "bridge bridge bridge"
    "area road turists"
}

.feature-container-city {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-container-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-list,
.benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item,
.feature-item-large,
.benefit-item,
.title {
  text-align: center;
}

.features h3,
.benefit-item h4 {
  font-size: 21px;
  line-height: 21px;
  padding: 0 70px;
}

.benefit-item h4 {
  margin-top: 23px;
}

.features p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
}

.feature-item-large {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  padding: 27px 42px;
}

.feature-item-large p {
  color: var(--basic-white);
  padding: 5px 0;
}

.img-city img,
.img-bridge img {
  display: block;
}

.last-features {
  background-color: var(--secondary-grey);
  padding: 27px 65px;
}

.feature-number::before,
.feature-number::after {
  content: " — ";
}

.benefit-item {
  padding: 61px 50px 55px;
}

.benefit-item h3 {
  margin: 16px 0;
}

.benefit-item p,
.last-features p {
  margin: 25px 0;
}

.benefit-item::before {
  content: "";
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.benefit-home::before {
  background-image: url("../img/icons/icon-1.svg");
}

.benefit-food::before {
  background-image: url("../img/icons/icon-2.svg");
}

.benefit-gift::before {
  background-image: url("../img/icons/icon-3.svg");
}

/* Search */
.search {
  text-align: center;
}

.search {
  padding: 31px 315px 0;
}

.search h2 {
  font-size: 30px;
  line-height: 26px;
}

.search p {
  font-size: 14px;
  line-height: 23px;
  margin: 33px 0 15px;
  color: var(--basic-grey);
}

.button-search-hotel {
  margin-top: 30px;
  padding: 30px 140px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.button-search-hotel:hover {
  background-color: var(--hover-brown);
  outline: none;
}

.button-search-hotel:focus {
  background-color: var(--hover-brown)
}

.button-search-hotel:active {
  color: var(--opacity-white);
  background-color: var(--active-brown);
  outline: none;
}

/* Map */
.map {
  background-image: url(../img/map.png);
  margin-bottom: -120px;
  height: 594px;
}

/* Page footer */
.page-footer {
  background-color: var(--opacity-white-footer);
  min-height: 120px;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
  position: relative;
  padding: 0 55px;
}

.contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 23px 0;
}

.contacts p {
  margin: -1px 0 9px 0;
}

.contacts a {
  color: var(--basic-black);
}

/* Social button */
.footer-social {
  justify-self: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  padding: 21px 0;
  list-style: none;
  margin-left: -8px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  width: 46px;
  height: 48px;
  margin-right: -9px;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--hover-blue);
}

.social-button:active {
  background-color: var(--active-blue);
  outline: none;
}

.social-button:active svg {
  opacity: 0.3;
}

/*copyright */
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  outline: none;
  margin: 0 0 -3px;
}

.logo-htmlacademy svg {
  fill: var(--copy-main);
  padding-left: 8px;
}

.logo-htmlacademy:hover svg,
.logo-htmlacademy:focus svg {
  fill: var(--basic-blue);
}

.logo-htmlacademy:active svg {
  fill: var(--copy-active);
}

/* Search form */
.search-popup {
  width: 568px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--shadow);
  margin: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  position: absolute;
  left: calc(50% - 283px);
  display: none;
}

.search-popup-show {
  display: block;
  animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 55px
}

.search-form p {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.search-form input[type="date"],
.search-form input[type="number"] {
  width: 346px;
  height: 38px;
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--form-grey);
  border: none;
  box-sizing: border-box;
  padding-left: 13px;
  border: 2px solid var(--form-grey);
}

.search-form input[type="date"] {
  padding-right: 35px;
}

.search-form input[type="number"] {
  width: 38px;
  height: 38px;
  margin-left: 38px;
}

.search-form input:hover {
  background-color: var(--form-grey-hover);
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--form-grey-border);
  outline: none;
}

.search-form input::-webkit-outer-spin-button,
.search-form input::-webkit-inner-spin-button,
.search-form input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.search-form input[type=number] {
  -moz-appearance: textfield;
}

.search-item-date-in label {
  margin-right: 19px;
}

.search-item-date-out label {
  margin-right: 15px;
}

.search-item-adults label {
  margin-right: 36px;
}

.search-item-kids label {
  margin-right: 23px;
}

.search-form p.search-item-kids {
  margin-left: 91px;
}

.button-counter {
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: var(--form-grey);
  border: none;
  cursor: pointer;
  position: absolute;
}

.button-less {
  padding-bottom: 6px;
}

.button-counter,
.button-calendar {
  fill: var(--elements);
  outline: none;
}

.button-counter:hover svg,
.button-calendar:hover svg {
  fill: var(--basic-black);
}

.button-counter:focus svg,
.button-calendar:focus svg {
  fill: var(--basic-blue);
}

.button-search {
  padding: 16px 196px;
  margin: 23px 0 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  cursor: pointer;
  outline: none;
}

.button-search:hover,
.button-search:focus {
  background-color: var(--hover-blue);
}

.button-search:active {
  color: var(--opacity-white);
  background-color: var(--active-blue);
}

.button-calendar {
  width: 38px;
  height: 38px;
  margin-left: -38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}

/* Animations */
@keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Filters */
.filters {
  background-image: url("../img/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--basic-blue);
  margin: 0;
  padding: 25px 73px 32px;
  color: var(--basic-white);
}

.filter-form {
  display: flex;
}

.filter-set {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  border: none;
  margin: 0;
  padding: 0;
}

.filter-set:nth-child(2) {
  margin-left: 55px;
  margin-right: auto;
}

.filter-list {
  list-style: none;
  line-height: 21px;
  margin: 0;
  padding: 25px 0 0 0;
}

.filter-price {
  display: flex;
  flex-direction: column;
}

.filter-form legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option:nth-last-child(1) {
  margin-bottom: 0px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before,
.filter-input-checkbox:checked+label::before,
.filter-input-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  left: -40px;
  height: 23px;
}

.filter-input-checkbox+label::before {
  width: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:checked+label::before {
  width: 27px;
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-input-checkbox:disabled+label::before {
  width: 23px;
  background-image: url("../img/icons/checkbox-disabled.svg");
}

.filter-option:focus {
  outline: 1px solid var(--basic-white);
}

/* Range */
.price-controls {
  width: 316px;
  height: 36px;
  margin-top: 11px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.min-price {
  padding-left: 67px;
}

.max-price {
  padding-right: 10px;
}

.min-price::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  margin-top: 4px;
  background: var(--basic-white);
}

.price-controls input {
  width: 67px;
  padding: 9px 0;
  text-align: left;
  border: none;
  color: var(--basic-white);
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.price-controls input:focus {
  outline: 1px solid var(--basic-white);
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button,
.price-controls input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.price-controls input[type=number] {
  -moz-appearance: textfield;
}

.range-filter {
  width: 316px;
  margin-top: 20px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: var(--opacity-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-grey);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--opacity-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 250px;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  width: 5px;
  height: 5px;
  top: -10px;
}

.range-controls .toggle:focus {
  outline: 1px solid var(--basic-white);
}

.button-resutls {
  padding: 6px 34px;
  font-size: 14px;
  line-height: 21px;
  margin: 33px 11px 0 0;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  cursor: pointer;
  align-self: center;
}

.button-resutls:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Results */
.results-sort,
.results-show {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results {
  display: flex;
  padding: 8px 73px 10px;
  border-bottom: 1px solid var(--form-grey-border);
}

.sort {
  font-size: 12px;
  line-height: 18px;
  padding: 11px 40px 0px 46px;
}

.results-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-sort {
  display: flex;
  padding-top: 24px;
  font-size: 12px;
  line-height: 18px;
}

.sort-type a {
  color: var(--opacity-black);
  border-bottom: 1px var(--basic-blue) dashed;
}

.sort-type {
  margin-right: 33px
}

.sort-type a:hover,
.sort-type a:focus {
  color: var(--basic-blue);
  border-bottom: 1px var(--basic-blue) dashed;
}

.sort-type a:active {
  color: var(--basic-black);
  border: none;
}

.sort-active a {
  color: var(--basic-blue);
  border: none;
}

.results-show {
  display: flex;
  padding-top: 23px;
  margin-left: auto;
}

.sort-arrange {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  vertical-align: middle;
}

.sort-ascending {
  border-bottom: 10px solid var(--arrow-grey);
}

.sort-descending {
  border-top: 10px solid var(--arrow-grey);
  margin-left: 10px
}

.sort-ascending:hover,
.sort-ascending:focus {
  border-bottom-color: var(--basic-black);
}

.sort-descending:hover,
.sort-descending:focus {
  border-top-color: var(--basic-black);
}

.sort-ascending:active,
.sort-arrange-active {
  border-bottom-color: var(--basic-blue);
}

.sort-descending:active,
.sort-arrange-active {
  border-top-color: var(--basic-blue);
}

/* Housing Results */
.housing-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.housing-item {
  display: grid;
  grid-template-columns: 135px 1fr 135px;
  padding: 30px 73px;
  border-bottom: 1px solid var(--form-grey-border);
}

.housing-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: -6px 0;
}

.housing-title {
  color: var(--basic-black);
}

.housing-title:hover,
.housing-title:focus {
  color: var(--basic-blue);
}

.housing-title:active {
  color: var(--opacity-black);
}

.housing-item img {
  width: 135px;
  height: 90px;
  background-color: var(--basic-blue);
}

.housing-details {
  padding: 0 30px;
}

.housing-info {
  display: flex;
  gap: 15px;
  padding: 9px 0 14px;
}

.housing-info p {
  margin: 0;
  width: 99px;
}

.link-housing {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  padding: 5px 17px;
  background-color: var(--basic-blue);
}

.link-housing:hover,
.link-housing:focus {
  background-color: var(--hover-blue);
}

.link-housing:active {
  color: var(--opacity-white);
  background-color: var(--active-blue);
  outline: none;
}

.link-reserve {
  background-color: var(--basic-brown);
  margin-left: 2px;
}

.link-reserve:hover,
.link-reserve:focus {
  background-color: var(--hover-brown);
}

.link-reserve:active {
  color: var(--opacity-white);
  background-color: var(--active-brown);
  outline: none;
}

.housing-raiting {
  text-align: right;
}

.rating {
  display: inline-block;
  text-align: center;
  padding: 1px 14px 1px 14px;
  color: var(--rating-grey);
  background-color: var(--form-grey);
  margin: 0;
  vertical-align: middle;
}

.stars {
  background-image: url("../img/icons/star.svg");
  background-repeat: space;
  height: 17px;
  margin-bottom: 45px;
  margin-left: auto;
}

.stars-two {
  width: 40px;
}

.stars-three {
  width: 64px;
}

.stars-four {
  width: 89px;
}